




olefile==0.46
outcome==1.1.0

parso==0.7.0

pathspec==0.7.0
patsy==0.5.1
pep8==1.7.1

pkginfo==1.7.0
ply==3.11

protobuf==3.20.1

pyarrow==8.0.0
pycosat==0.6.3
pycurl==7.43.0.6
pydeck==0.7.1


pyreadline==2.1

pytest==6.2.3

scikit-image==0.18.1


sklearn==0.0

